{
    "property_address": "1903 Plott Balsam Drive, Wendell, NC",
    "purchase_price": 420000,
    "down_payment_percent": 0.3,
    "closing_costs": 10000,
    "initial_interest_rate_percent": 7.051,
    "loan_term_years": 30,
    "refinance_year": 2,
    "refinance_interest_rate_percent": 6.051,
    "refinance_costs_percent_of_balance": 0.013,
    "initial_monthly_rent": 2400,
    "annual_rent_growth_percent": 0.025,
    "appreciation_periods": [
        {
            "years": 3,
            "rate": 0.05
        },
        {
            "years": 3,
            "rate": 0.04
        },
        {
            "years": 100,
            "rate": 0.03
        }
    ],
    "vacancy_rate_percent": 0.04,
    "annual_property_tax_initial": 3649,
    "annual_insurance_initial": 1968,
    "monthly_hoa_dues_initial": 100,
    "monthly_prop_mgmt_fee_percent": 0.07,
    "annual_opex_growth_percent": 0.03,
    "maintenance_percent_of_egi": 0.04,
    "leasing_turnover_avg_yr": 375,
    "utilities_vacancy_avg_yr": 120,
    "land_value_percent_of_purchase": 0.15,
    "depreciation_period_years": 27.5,
    "projection_years": 20,
    "realtor_fee_percent": 0.05,
    "additional_selling_costs_percent": 0.03,
    "pal_limitation": true,
    "marginal_tax_rate": 0.32
}